<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="coloredConsole" xsi:type="ColoredConsole" layout="Access Log|${level:uppercase=true}|${logger}|${message}">
			<highlight-row condition="true" foregroundColor="red"/>
		</target>
		<target xsi:type="File" name="file" fileName="ValidationAttributesTests.log"
			layout="${date:format=HH\:mm\:ss}|${uppercase:${level}}|${logger}|${message}" />
	</targets>
	<rules>
		<logger name="fileLogger" minlevel="Trace" writeTo="file" ></logger>
		<logger name="consoleLogger" minlevel= "Trace" writeTo ="coloredConsole" ></logger>
	</rules>
</nlog>
